*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules
.env
**/.terraform/*
/instances/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/.terraform.lock.hcl
**/*.pem
**/*.pub
**/*.yaml
tf-cloud-init
bin/terraform/
bin/terraform_1.0.3_linux_amd64.zip
bin/waypoint/
bin/waypoint_0.4.2_linux_amd64.zip